<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Passoword olvidada</title>
</head>
<body>
	<div class="container">
		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-user"></i> <span>¿Olvidaste tu contraseña ?</span>
				</div>
				<div class="card-block" style="padding: 24px;">
					<p>Introduce el e-mail con el que te registraste y te
						mandaremos las instrucciones para resetear tu contraseña</p>
					<div class="panel-body">

						<div th:if="${param.success}">
							<div class="alert alert-info">Correo enviado con instrucciones para restablecer contraseña</div>
						</div>

						<form th:action="@{/forgot-password}"
							th:object="${forgotPasswordForm}" method="post">
							<div class="form-group"
								th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
								<div class="input-group">
									<span class="input-group-addon"> <i
										class="glyphicon glyphicon-envelope color-blue"></i>
									</span> <input id="email" class="form-control"
										placeholder="email address" th:field="*{email}" />
								</div>
								<p class="error-message"
									th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
									error</p>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success btn-block">Resetear
									Contraseña</button>
							</div>
						</form>

					</div>
					<div class="row">
						<div class="col-md-12">
							¿Nuevo usuario? <a href="/" th:href="@{/registration}">Register</a>
						</div>
						<div class="col-md-12">
							¿Ya registrado? <a href="/" th:href="@{/login}">Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>