<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hola, Bienvenido a QContents</h1>
        <p class="lead">Esta es la home de nuestra aplicacioacute;n web. Cualquiera puede acceder a ella, incluso si no estaacute;s logado.</p>
        <hr class="my-4">
        <p>En esta p&aacute;gina aprender&aacute;s y te examinar&aacute;s en Españ&oacute;l sobre Java y todo su entorno empresarial, aunque aun estamos bajo construcci&oacute;n :)</p>
        <p>Te dejo unos links interesantes</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://spring.io/projects/spring-security" role="button">Aprender maacute;s de Spring Security</a>
        </p>
    </div>
</div>
</body>
</html>