<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<body>
	<header th:insert="fragments.html :: nav"></header>
	<!-- Page content goes here -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="text-center">
							<h3>
								<i class="glyphicon glyphicon-user" style="font-size: 2em;"></i>
							</h3>
							<h2 class="text-center">Registro</h2>
							<div class="panel-body">

								<div th:if="${param.success}">
									<div class="alert alert-info">¡Te has registrado con
										éxito en nuestra increíble aplicación!</div>
								</div>

								<form th:action="@{/register}" th:object="${userForm}"
									method="post">

									<p class="error-message" th:if="${#fields.hasErrors('glob')}"
										th:each="error : ${#fields.errors('glob')}"
										th:text="${error}">Error de validacion</p>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-user color-blue"></i>
											</span> <input id="firstName" class="form-control"
												placeholder="Tu userName ..." th:field="*{username}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('username')}"
											th:text="${error}">Error de validacion</p>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-user color-blue"></i>
											</span> <input id="firstName" class="form-control"
												placeholder="Nombre" th:field="*{firstName}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('firstName')}"
											th:text="${error}">Error de validacion</p>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-user color-blue"></i>
											</span> <input id="lastName" class="form-control"
												placeholder="Apellidos" th:field="*{lastName}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('lastName')}"
											th:text="${error}">Error de validacion</p>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon">@</span> <input id="email"
												class="form-control" placeholder="E-mail"
												th:field="*{email}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('email')}"
											th:text="${error}">Error de validacion</p>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon">@</span> <input
												id="confirmEmail" class="form-control"
												placeholder="Confirm e-mail" th:field="*{confirmEmail}" />
										</div>
										<p class="error-message"
											th:each="error: ${#fields.errors('confirmEmail')}"
											th:text="${error}">Error de validacion</p>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="password" class="form-control"
												placeholder="password" type="password"
												th:field="*{password}" />
										</div>
										<ul class="text-left"
											th:each="error: ${#fields.errors('password')}">
											<li th:each="message : ${error.split(',')}">
												<p class="error-message" th:text="${message}"></p>
											</li>
										</ul>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
										<div class="input-group">
											<span class="input-group-addon"> <i
												class="glyphicon glyphicon-lock"></i>
											</span> <input id="confirmPassword" class="form-control"
												type="password" placeholder="Confirmar password"
												th:field="*{confirmPassword}" />
										</div>
										<ul class="text-left"
											th:each="error: ${#fields.errors('confirmPassword')}">
											<li th:each="message : ${error.split(',')}">
												<p class="error-message" th:text="${message}"></p>
											</li>
										</ul>
									</div>

									<div class="form-group"
										th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
										<input id="terms" type="checkbox" th:field="*{terms}" /> <label
											class="control-label" for="terms"> Estoy deacuerdo
											con los terminos y <a href="#">condiciones </a> del registro.
										</label>
										<p class="error-message"
											th:each="error : ${#fields.errors('terms')}"
											th:text="${error}">Validation error</p>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-success btn-block">Registrarse</button>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						¿Ya estas registrado? <a href="/" th:href="@{/login}">Login</a>
					</div>
					<div class="col-md-12">
						¿Olvidaste la contraseña? <a href="/"
							th:href="@{/forgot-password}">Recuperar contraseña</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>